.container {
    padding: 10px;
    display: flex;
    align-items: center;
    margin: -10px 50px;
}

.button_add {
    background-color: #13176C;
    border: none;
    padding: 13px;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}

.button_add:hover {
    background-color: #0f1250;
}

.item2 {
    display: flex;
    margin-left: auto;
}

.notification {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
}
.notification:hover {
    color: #ffffff;
}

.profile {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 25px;
    margin-left: 12px;
}